.failure_container{
    min-height: 100vh;
    width: 80%;
    margin: auto;
    h5{
        font-size: 28px;
    }
    .img_container{
        width: 800px;
        height: 500px;
        img{
            object-fit: contain;
            object-position: center;
        }
    }
}

@media only screen and (max-width: 600px){
    .failure_container{
        width: 95%;
        margin: auto;
        height: 400px;
        .img_container{
            width: 100%;
            margin: auto;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img{
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}