.success_container{
    min-height: 60vh;
    width: 70%;
    margin:  10px auto 20px auto;

    .img_container{
        width: 800px;
        height: 500px;
        img{
            object-fit: contain;
            object-position: center;
        }
    }

    .productos_container_div{
        .productos_lista_ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            .productos_item_li{
                margin: 4px 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;

                .foto_producto_img{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    object-position: center;
                }
                .nombre_producto{
                    margin: 0;
                    padding: 0;
                }
                .precio_producto{
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .success_container{
        width: 95%;
        margin: auto;
        min-height: 80vh;

        .productos_container_div{
            .productos_lista_ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                .productos_item_li{
                    margin: 4px auto;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
    
                    .foto_producto_img{
                        width: 32px;
                        height: 32px;
                        object-fit: contain;
                        object-position: center;
                    }
                    .nombre_producto{
                        margin: 0;
                        padding: 0;
                        font-size: 12px;
                    }
                    .precio_producto{
                        margin: 0;
                        padding: 0;
                        font-size: 12px;
                    }
                }
            }
        }

        .perfil_foto{
            width: 200px;
            height: 100px;
            object-position: center;
            object-fit: cover;
        }

        .img_container{
            width: 100%;
            margin: auto;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img{
                width: 250px;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}