.btn_carrito_comprar{
    border: none;
    padding: 8px;
    margin: 0 0 0 10px;
    font-size: 28px;
    border-radius: 50%;
    background-color: rgb(61, 233, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_carrito_comprar:hover{
    cursor: pointer;
    background-color: rgba(61, 233, 139, .6);
}

.carrito{
    display: flex;
    align-items: center;
    justify-content: center;


    .divlogin:hover{
        cursor: pointer;
    }
    .divcarrito{
        display: flex;
        align-items: center;
        justify-content: center;

        .rs_icon{
            color: rgb(1, 255, 200);
            border: none;
            padding: 6px;
            margin: 0;
            height: 100%;
            font-size: 22px;
            border-radius: 50%;
            background-color: rgb(44, 44, 43);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 3px;
        }
        .rs_icon:hover{
            cursor: pointer;
            color: honeydew;
        }

        .productos{
            font-size: 16px;
            position: relative;
            padding: 2px 4px;
            height: 100%;
            top: 15px;
            right: 15px;
            color: white;
            background-color: red;
            border-radius: 50%;
            z-index: 99999999;
        }

        .div_items_carrito{
            
            .div_productos{
                
                height: 500px;
                width: 400px;
                padding: 4px 6px;
                background-color: rgb(242, 255, 242);
                border: 1px solid rgb(226, 226, 226);
                border-radius: 8px;
                position: absolute;
                top: 90px;
                right: 10px;
                cursor: default;
                display: none;

                p{
                    margin: 0;
                    font-size: 28px;
                }

                ul{
                    padding: 0;
                    overflow-y: scroll;
                    height: 350px;
                    margin: 15px 0;

                    .div_productos_itemss{
                        padding: 2px 6px;
                        margin: 1px 0;
                        background-color: rgb(144, 255, 162);
                        border-radius: 8px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        .simbolo_menos{
                            font-size: 15px;
                            color: red;
                            cursor: pointer;
                        }

                        .flex_items_div{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 94%;

                            .foto_espacio{
                                margin: 0 5px;
                                width: 50px;
                                height: 50px;

                                .foto_png_producto_div{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    object-position: center;
                                }
                            }

                            .nombre_precio{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 0 0 0 4px;

                                p{
                                    margin: 0;
                                    font-size: 13px;
                                    .precio{
                                        font-size: 16px;
                                        justify-self: end;
                                    }
                                }

                            }

                            

                            
                        }
                    }
                    .div_productos_itemss:hover{
                        cursor: pointer;
                        background-color: rgba(255, 0, 0, .6);
                    }
                }

                .btn_pagar{
                    border: none;
                    padding: 3px 5px;
                    margin: 0;
                    background-color: rgb(105, 255, 138);
                }

                .btn_pagar:hover{
                    background-color: rgb(36, 255, 83);
                    cursor: pointer;
                }
            }
            .div_productos.show{
                display: block;
            }
        }

    }
    .divcarrito:hover{
        cursor: pointer;
    }
}

@media screen and (max-width: 650px){
    .div_items_carrito{
        width: 95%;

        .div_productos{
            width: 250px;
        }

        .div_productos.show{
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translateX( -50%);
            
        }

        .div_productos_itemss{
            width: 100%;
        }
    }
}