.btn_carrito_comprar{
    border: none;
    padding: 8px;
    margin: 0 0 0 10px;
    font-size: 28px;
    border-radius: 50%;
    background-color: rgb(61, 233, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_carrito_comprar:hover{
    cursor: pointer;
    background-color: rgba(61, 233, 139, .6);
}

.carrito{
    display: flex;
    align-items: center;
    justify-content: center;


    .divlogin:hover{
        cursor: pointer;
    }
    .divcarrito{
        display: flex;
        align-items: center;
        justify-content: center;

        .rs_icon{
            color: rgb(1, 255, 200);
            border: none;
            padding: 6px;
            margin: 0;
            height: 100%;
            font-size: 22px;
            border-radius: 50%;
            background-color: rgb(44, 44, 43);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 3px;
        }
        .rs_icon:hover{
            cursor: pointer;
            color: honeydew;
        }

        .productos{
            font-size: 14px;
            position: relative;
            padding: 1px 4px;
            height: 100%;
            top: 15px;
            right: 15px;
            color: white;
            background-color: red;
            border-radius: 50%;
            z-index: 99999999;
        }

        .div_items_carrito{
            
            .div_productos{
                
                height: 515px;
                width: 400px;
                padding: 4px 6px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 0 4px black;
                border: 1px solid rgb(226, 226, 226);
                border-radius: 8px;
                position: absolute;
                top: 90px;
                right: 10px;
                cursor: default;
                display: none;

                .div_pagar{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    .div_pagando{
                        display: flex;
                        .btn_pagar{
                            padding: 5px 8px;
                            margin: 0 8px;
                            border:none;
                            background-color: rgb(134, 255, 160);
                        }
                        .btn_pagar:hover{
                            cursor: pointer;
                            background-color: rgb(59, 255, 102);
                        }
                        .btn_pagar:active{
                            transform: scale(90%);
                        }
                    }
                    .div_foto_pagar{
                        margin: 4px 0 0 0;
                        img{
                            width: 150px;
                        }
                    }

                    .msg_pago{
                        text-align: center;
                        font-size: 12px;
                    }
                }

                .productos_en_carrito{
                    font-size: 17px;
                    padding: 2px;
                }

                p{
                    margin: 0;
                    font-size: 28px;
                }

                ul{
                    padding: 0;
                    overflow-y: scroll;
                    height: 350px;
                    margin: 15px 0;

                    .div_productos_itemss{
                        padding: 2px 6px;
                        margin: 1px 0;
                        background-color: rgb(144, 255, 162);
                        border-radius: 8px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        .btn_delete{
                            border:none;
                            background-color: rgba(144, 255, 162, 0);
                            .simbolomenos{
                                color: rgb(255, 73, 73);
                                font-size: 18px;
                            }
                        }
                        .btn_delete:hover{
                            cursor: pointer;
                            color: red;
                        }

                        .simbolo_menos{
                            font-size: 15px;
                            color: red;
                            cursor: pointer;
                        }

                        .flex_items_div{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 94%;

                            .foto_espacio{
                                margin: 0 5px;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .foto_png_producto_div{
                                    width: 40px;
                                    height: 40px;
                                    object-fit: contain;
                                    object-position: center;
                                }
                            }

                            .nombre_precio{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 0 0 0 4px;

                                p{
                                    margin: 0;
                                    font-size: 13px;
                                    .precio{
                                        font-size: 16px;
                                        justify-self: end;
                                    }
                                }

                            }

                            

                            
                        }
                    }
                    .div_productos_itemss:hover{
                        cursor: pointer;
                        background-color: rgba(255, 0, 0, .6);
                    }
                }
            }
            .div_productos.show{
                display: block;
            }
        }

    }
    .divcarrito:hover{
        cursor: pointer;
    }
}

@media screen and (max-width: 650px){

    .carrito{
        .divcarrito{
            .div_items_carrito{
                .div_productos{
                    position: fixed;
                    width: 90%;
                    height: 540px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    display: none;
            
                    .ul_menos{
                        width: 100%;
                    }
        
                
                }
                
        
                .div_productos.show{
                    display: block;
                    
                    
                }
        
                .div_productos_itemss{
                    width: 100%;
                }
            }
            .rs_icon{
                font-size: 15px;
            }
        }
    }
    
    
    

}