.guia_container{
    width: 100%;
    margin: 0 auto;

    .display_flex_productos_ul{
        display: grid;
        width: 85%;
        margin: auto;
        list-style: none;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 10px;
        margin: 40px auto;

        .cada_producto_li{
            height: 450px;
            width: 300px;
            margin: auto;
            border: 1px solid rgba(44, 172, 39, .4);
            border-radius: 15px;
        }
    }


    .inicio:hover{
        background-color: rgb(36, 196, 70);
    }

}

.btn_menu_productos{
    display: none;
}

.lista_tipos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 10px auto ;

    .div_tipos_container{
        display: flex;
        align-items: center;
        margin: 0;
       a{
           text-decoration: none;
           color: black;
           p{
               font-weight: 600;
           }
       }
        

        .title_tipo{
            display: flex;
            justify-content: center;
            align-items: center;
            

            a{
                color: black;
            }

            .title_p{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 140px;
                margin: 0;
                padding: 6px 8px;
                border: 1px solid rgba(182, 182, 182, .3);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .background_tipo{
                width: 200px;
                height: 200px;
                object-fit: cover;
                object-position: center;
                

            }

            a{
                font-weight: 800;
                text-decoration: none;
            }
        }

    }

    .div_tipos_container:hover{
        box-shadow: 0 0 3px black;
    }
    
}

.lista_tipos.hide{
    display: none;
}

@media only screen and (max-width: 1150px) {
    .guia_container{
        width: 100%;

    }
}

@media only screen and (max-width: 600px) {


    .btn_menu_productos{
        display: block;
        position: fixed;
        z-index: 99999999;
        top: 16px;
        right: 50%;
        translate: transformX(-50%);
        border: none;
        background-color: rgba(204, 204, 204, 0);
        font-size: 24px;
    }

    .guia_container{
        
        .lista_tipos{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            position: absolute;
            position: fixed;
            z-index: 1000;
            top: 40px;
            background-color: white;
            padding: 12px 0;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            display: none;


            .div_tipos_container{
                width: 100%;
                display: flex;
                justify-content: center;

                a{
                    border: 1px solid rgba(131, 131, 131, .5);
                    border-radius: 12px;
                    margin: 3px 0;
                    width: 50vw;
                }

                a:hover{
                    background-color: rgba(189, 189, 189, .1);
                }

                .title_p{
                    border: none;
                    padding: 8px 0;
                }
                

                .title_tipo{
                    font-size: 13px;

                    .background_tipo{
                        
                        height: 60px;
                        width: 130px;
                    }
                }
            }
        }

        .lista_tipos.show{
            display: block;
        }

    }
}


