@keyframes salto {
    0%   {top: 0px;}
    25%  {top: -8px;}
    35%  {top: 0px;}
    50%  {top: -6px;}
    60%  {top: 0px;}
    85%  {top: -3px;}
    100% {top: 0px;}
  }

.principal_container{
    color: black;
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 25px auto;
    justify-items: center;

    .lista_productos_menu_principal{
        width: 100%;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        row-gap: 20px;
        justify-content: center;
        align-content: center;
        padding: 0;

        .producto_div_final{
            width: 250px;
            margin: auto;
            outline: 1px solid rgba(184, 184, 184, .4);
            padding: 0 0 5px 0;
            a{
                text-decoration: none;
                .producto_container{
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    .nombre{
                        min-height: 44px;
                        width: 90%;
                        margin: 12px auto;
                        color: black;
                        text-align: center;
                    }
            
                    .container_muestra{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        
                
                        .foto_muestra_producto{
                            width: 100%;
                            height: 250px;
                            object-fit: contain;
                            object-position: center;
                        }
                        .foto_muestra_producto:hover{
                            position: relative;
                            animation: salto 1.5s linear;
                        }
                    }
                
                    .description{
                        .comprar{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .sku{
                                font-size: 12px;
                                color: rgb(117, 117, 117);
                                margin-top: 10px;
                                padding: 0;
                            }
                            .p_flex{
                                display: flex;
                                align-items:flex-end;
                            }
                            .precioantes{
                                text-decoration:line-through
                            }
                            .precio{
                                color: black;
                                font-size: 35px;
                                margin: 10px 0;
                                font-family: 'Kanit', sans-serif;
                            }
                        }
                    }
                }   
            }
            
            .div_icon_add_tocart{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                .carrito{
                    cursor: pointer;
                    margin: 0 0 0 12px;
                    background-color: rgb(83, 255, 135);
                    padding: 8px;
                    border-radius: 50%;
                    margin: 0;
                    font-size: 40px;
                }
        
                .carrito:hover{
                    cursor: pointer;
                    background-color: rgb(30, 211, 84);
                }
        
                .add_to_cart{
                    margin: 0;
                    padding: 0 0 5px 0;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

    }
}

@media  (max-width: 1100px) {

    .real_principal_container{
        .principal_container{
            grid-template-columns: 1fr;
            .lista_productos_menu_principal{
                grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
                .producto_div_final{
                    width: 170px;
                    .producto_container{
                        .nombre{
                            font-size: .9rem;
                            min-height: 35px;
                        }
                        .container_muestra{
                            .foto_muestra_producto{
                                height: 150px;
                            }
                        }
                        .description{
                            .comprar{
                                .sku{
                                    margin-top: 5px;
                                    font-size: 11px;
                                }
                                .p_flex{
                                    .precioantes{
                                        font-size: 14px;
                                    }
                                }
                                .precio{
                                    font-size: 27px;
                                    margin: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}


@media  (max-width: 600px) {

    .real_principal_container{
        .principal_container{
            margin: 10px auto;
            grid-template-columns: 1fr;
            .lista_productos_menu_principal{
                grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
                .producto_div_final{
                    width: 140px;
                    .producto_container{
                        .nombre{
                            font-size: .75rem;
                            min-height: 30px;
                        }
                        .container_muestra{
                            height: auto;
                            .foto_muestra_producto{
                                height: 120px;
                            }
                        }
                        .description{
                            .comprar{
                                .sku{

                                    font-size: 11px;
                                }
                                .p_flex{
                                    .precioantes{
                                        font-size: 14px;
                                    }
                                }
                                .precio{
                                    font-size: 27px;
                                    margin: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
