@keyframes salto {
    0%   {top: 0px;}
    25%  {top: -8px;}
    35%  {top: 0px;}
    50%  {top: -6px;}
    60%  {top: 0px;}
    85%  {top: -3px;}
    100% {top: 0px;}
  }

.principal_container{
    color: black;

    .lista_productos_menu_principal{
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-content: center;
        align-content: center;
        width: 90%;
        margin: 40px auto;
        padding: 0;

        .producto_div_final{
            width: 250px;
            margin: 15px auto;
            border: 1px solid rgba(184, 184, 184, .4);
            padding: 0 10px 5px 10px;
            a{
                text-decoration: none;
                .producto_container{
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    .nombre{
                        min-height: 44px;
                        margin: 14px auto 12px auto;
                        color: black;
                        text-align: center;
                    }
            
                    .container_muestra{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        
                
                        .foto_muestra_producto{
                            width: 100%;
                            height: 250px;
                            object-fit: contain;
                            object-position: center;
                        }
                        .foto_muestra_producto:hover{
                            position: relative;
                            animation: salto 1.5s linear;
                        }
                    }
                
                    .description{
                        .comprar{
                            display: flex;
                            align-items: center;
                            .precio{
                                color: black;
                                font-size: 35px;
                                margin: 10px 0;
                                font-family: 'Kanit', sans-serif;
                            }
                        }
                    }
                }   
            }
            
            .div_icon_add_tocart{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                .carrito{
                    cursor: pointer;
                    margin: 0 0 0 12px;
                    background-color: rgb(83, 255, 135);
                    padding: 8px;
                    border-radius: 50%;
                    margin: 0;
                    font-size: 40px;
                }
        
                .carrito:hover{
                    cursor: pointer;
                    background-color: rgb(30, 211, 84);
                }
        
                .add_to_cart{
                    margin: 0;
                    padding: 0 0 5px 0;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

    }
}




@media only screen and (max-width: 1500px) {

    .principal_container{
        .lista_productos_menu_principal{
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            width: 95%;
            .producto_div_final{
                padding-left: 12px;
                padding-right: 12px;

                a{
                    .producto_container{
                        width: 100%;
                        .nombre{
                            font-size: 14px;
                            min-height: 38px;
                            margin: 10px auto;
                        }
                        .container_muestra{
                            height: 200px;
                            .foto_muestra_producto{
                                margin-top: 0;
                                padding-top: 0;
                                width: 95%;
                                height: 100%;
                                object-fit: cover;
                                
                            }
                        }
                        .description{
                            .comprar{
                                .precio{
                                    margin: 5px auto;
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
                .div_icon_add_tocart{
                    .carrito{
                        font-size: 30px;
                    }
                    .add_to_cart{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 1100px) {

    .principal_container{
        .lista_productos_menu_principal{
            width: 100%;
            .producto_div_final{
                .producto_container{
                    width: 100%;
            
                    .img_producto{
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 660px) {
    .principal_container{
        .lista_productos_menu_principal{
            grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
            
            .producto_div_final{
                width: 160px;
                min-height: 100px;
                margin: 15px auto;
                border: 1px solid rgba(184, 184, 184, .4);
                padding: 0 8px 0 8px;
                justify-content:flex-start;

                a{
                    .producto_container{
                        min-height: 100px;
                        display: flex;
                        flex-direction: column;
    
                        .nombre{
                            margin: 8px 0 0 0;
                            font-size: 12px;
                            min-height: 40px;

                        }
                        .container_muestra{
                            width: 90%;
                            min-height: 200px;
                            .foto_muestra_producto{
                                margin: 8px auto 5px auto;
                                padding: 0;
                                width: 100%;
                                height: 90%;
                                object-fit: contain;
                            }
                        }
                        .description{
                            .comprar{
                                .precio{
                                    font-size: 20px;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
                
                .div_icon_add_tocart{
                    flex-direction: row-reverse;
                    
                    .carrito{
                        font-size: 23px;
                    }
                }
            }
        }
    
    }

    
}

@media only screen and (max-width: 450px) {
    .principal_container{
        .lista_productos_menu_principal{
            grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
            width: 95%;
            
            .producto_div_final{
                width: 120px;
                min-height: 100px;
                margin: 15px auto;
                border: 1px solid rgba(184, 184, 184, .4);
                padding: 0 8px 0 8px;
                justify-content:flex-start;

                a{
                    .producto_container{
                        min-height: 100px;
                        display: flex;
                        flex-direction: column;
    
                        .nombre{
                            margin: 8px 0 0 0;
                            font-size: 12px;
                            min-height: 40px;

                        }
                        .container_muestra{
                            width: 90%;
                            min-height: 200px;
                            .foto_muestra_producto{
                                margin: 8px auto 5px auto;
                                padding: 0;
                                width: 100%;
                                height: 90%;
                                object-fit: contain;
                            }
                        }
                        .description{
                            .comprar{
                                .precio{
                                    font-size: 20px;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
                
                .div_icon_add_tocart{
                    flex-direction: row-reverse;
                    
                    .carrito{
                        font-size: 23px;
                    }
                }
            }
        }
    
    }

    
}