.home_container{
    width: 100%;
    overflow-x: hidden;

    .space{
        height: 80px;
    }

    .prods{
        text-align: center;
        margin: 10px;
    }

}

@media only screen and (min-width: 1200px){
    .contact_cuerpo{
        display: none;
    }
}

