.contacto_bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(60, 232, 255, 0.9);
    padding: 20px 0;
    margin: auto;
    border-radius: 18px;
    width: 100%;
    position: relative;
    right: 100px;
    bottom: -70px;

    .contacto_sup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 6px;

        .contacto_intikisa{
            margin: 10px 0;
            font-size: 20px;
            text-align: center;
        }

        .logo_inti{
            width: 90%;
            margin: auto;
        }
    }

    .contacto_sub{
        display: flex;
        width: 75%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 0 0 15px;
        border-left: 1px solid green;

        input{
            border: none;
            border-radius: 9px;
            padding: 6px 8px;
            width: 80%;
            margin: auto;
        }

        input:focus, textarea:focus{
            background-color: rgba(201, 255, 146, .3);
        }

        label{
            margin: 6px 0;
        }

        textarea{
            border: none;
            resize: none;
            margin: auto;
            width: 80%;
            height: 200px;
            margin-top: 6px;
        }

        .send{
            padding: 5px 0;
            width: 70px;
            margin: 10px auto;
            border:none;
            border: 1px solid rgb(97, 214, 97);
            background-color: rgba(227, 255, 66, 0.4);
            border-radius: 8px;
        }

        .send:hover{
            background-color: rgba(96, 107, 255, .5);
            cursor: pointer;
        }
    }  
    }

@media only screen and (max-width: 1200px){
    
    .contacto_bot{
        flex-direction: column;
        width: 80%;
        position:static;
        margin: 20px auto;

        .contacto_sup{
            padding: 0;
        }

        .contacto_sub{
            border: 0;
            padding: 0;
            width: 85%;

            input, textarea{
                width: 95%;
            }
        }
    }

}