.contenido_container{
    height: 100%;
    padding: 70px 0;
    font-family: Arial, Helvetica, sans-serif;

    .lista_productos{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 30px;
        list-style-type: none;
        width: 65%;
        margin: auto;
        padding: 0;

        .producto{
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: rgba(233, 233, 233, .4);
            border-radius: 9px;
            width: 280px;

            .cuadro_producto{

                .img_producto{
                    width: 100%;
                    margin: auto;
                    height: 250px;
                    object-fit: cover;
                }

                .producto_info{
                    padding: 8px;
                    
                    h5{
                        margin: 9px;
                        font-weight: 600;
                        font-size: 14px;
                    }
    
                    .boton_producto{
                        color: white;
                        font-weight: 400;
                        background-color: rgb(129, 68, 11);
                        border: none;
                        padding: 6px 20px;
                        border-radius: 16px;
                    }
                    
                    .boton_producto:hover{
                        cursor: pointer;
                        background-color: rgb(93, 185, 0);
                    }
                }
            }

            

            
        }

        .producto:hover{
            transition: all .8s ease-out;
            transform: scale(110%);
        }
        
    }
}

@media only screen and (max-width: 600px) {
    .contenido_container{
        .lista_productos{
            width: 100%;
        }

    }
  }