.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px #c7c5c5;
    background-color: #2d2d2d;
    color: #f1f1f1;
    .options_div{
        width: 80%;


        .options_list {
            display: grid;
            text-align: center;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            list-style-type: none;
            padding: 0;
        }

        .options_list h1 {
            font-size: 14px;
            color: #f1f1f1;
            font-weight: 700;
        }
        .options_list h2 {
            width: 50%;
            margin: 0;
            text-align: center;
            justify-items: center;
        }

        .options_list strong {
            padding: 4px;
            border-bottom: 1px solid rgb(84, 224, 138);
        }
        .options_list p {
            font-size: 13px;
        }
        .options_list p a {
            text-decoration: none;
            color: white;
            font-size: 13px;
        }
        .options_list p a:hover {
            color: rgb(84, 224, 138);
            cursor: pointer;
        }
        .redes_sociales_container{
            display: flex;
            justify-content: center;
            margin: 5px;

            .rs_icon{
                margin: 10px;
                color: white;
            }
            .rs_icon:hover {
               color: rgb(84, 224, 138);
            }
        }
    }
    .bottom_footer_container{
        font-size: 13px;
        text-align: center;
        margin: 30px 0 30px 0;
        display: flex;
        flex-direction: column-reverse;

        .derechos_container {
            gap: 5px;
        }
         
            .rs_icon {
                margin: 5px;
                font-size: 50px;
            }
    }
}
