.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px #c7c5c5;
    background-color: #2d2d2d;
    color: #f1f1f1;
    .options_div{
        width: 80%;
        margin: auto;
        text-align: center;
        .options_list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            list-style-type: none;
        }

        .options_list h1 {
            font-size: 14px;
            color: #f1f1f1;
            font-weight: 700;
        }
        .options_list p {
            font-size: 13px;
        }
        .options_list p a {
            text-decoration: none;
            color: white;
            font-size: 13px;
        }
        .options_list p a:hover {
            color: rgb(84, 224, 138);
            cursor: pointer;
        }
        .redes_sociales_container{
            display: flex;
            justify-content: center;
            .rs_icon{
                margin: 10px;
                color: white;
            }
            .rs_icon:hover {
               color: rgb(84, 224, 138);
            }
        }
    }
    .bottom_footer_container{
        display: flex;
        align-items: center;
        
        gap: 5px;
        font-size: 13px;
        text-align: center;
        .derechos_container span {
            gap: 5px;
        }
         
            .rs_icon {
                margin: 7.5px;
                font-size: 50px;
            }
    }
}

@media screen and (max-width: 600px) {
    .derechos_container{
        display: grid;
        gap: 10px;
    }
    .metodos_pago {
        display: grid;
        justify-items: center;
    }
}