.navbar_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 #c7c5c5;
    background-size: cover;
    height: 80px;
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;

    .navbar_micuenta{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 999999999;
        background-color: rgba(116,212,81,.2);
        display: flex;
        justify-content: center;
        align-items: center;
        .navbar_micuenta2{
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.7);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .logo_intik{
        a{
            .img_logo{
                cursor: pointer;
            }
        }
    }
    
    .navbar_nav_options {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;

        .nav_opc_menu{
            display: flex;
            .btns-menu{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px;
                border: 1px solid rgb(219, 219, 219);
                margin: auto 3px;
                cursor: pointer;
                background-color: white;

                .icon-menu{
                    font-size: 26px;
                    padding: 7px;
                    color: rgb(95, 95, 95);
                }
            }

            .btns-menu:hover{
                border: 1px solid rgb(170, 170, 170);
                .icon-menu{
                    color: #74D451;
                }
            }

            p{
                font-size: 14px;
                margin: 0;
            }
        }

    }
}

@media screen and (max-width: 600px) {

    .navbar_container{
        height: 56px;
        justify-content: flex-end;

        .logo_intik{
            position: fixed;
            top: 0;
            left: 40px;
            a{
                .img_logo{
                    width: 100px;
                }
            }
            
        }
    }
  }