.navbar_container{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 30px #c7c5c5;
    background-size: cover;
    height: 80px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;


    .navbar_background{
        position: absolute;
        z-index: -100;
        width: 100%;
        object-fit: cover;
        height: 80px;
    }
    
        .navbar_nav_menu{
            .nav_list{
                display: flex;
                list-style-type: none;
                li{
                    padding: 0 15px;
                   p{
                       font-size: 14.5px;
                       font-weight: 400;
                   }
                   p:hover {
                    cursor: pointer;
                   }
                    a {
                        text-decoration: none;
                        color: black;
                        margin: 0 5px;
                        font-size: 12px;
                    }
                }
            }
        }

    .navbar_logo:hover{
            cursor: pointer;
    }

    .navbar_nav_options {
        display: flex;
        align-items: center;
        justify-items: center;
        font-size: 20px;
        gap: 25px;
        a {
            color: black;
        }
    }
}

