.slider_container{
    width: 100vw;

    .cont_img{
        display: flex;
        justify-content: center;
        .slide_fotos{
            height: 400px;
            width: 800px;
            object-fit: cover;
        }
    }

}

@media screen and (max-width: 600px){
    .slide_fotos{
        width: 100%;
    }
}