.slider_container{
    width: 100vw;

    .cont_img{
        display: flex;
        justify-content: center;
        .slide_fotos{
            height: 500px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

}

@media screen and (max-width: 600px){
    .slider_container{
    
        .cont_img{

            .slide_fotos{
                height: 300px;
                width: 100%;

            }
        }
    
    }

}