.divlogimp_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .usuario{
        display: flex;
        align-items: center;

        .cerrar_menu_iniciado{
            color: rgb(255, 255, 255);
            padding: 7px;
            font-size: 35px;
            border: none;
            border-radius: 12px;
            background-color: rgb(65, 255, 166);
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .usuario_welcome{
            font-size: 16px;
            padding: 0 5px;
        }
        strong{
            font-size: 18px;
        }

    }

    .btn_iniciar_sesion{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: white;


        .icon{
            color: rgb(255, 255, 255);
            padding: 7px;
            font-size: 35px;
            border-radius: 50%;
            background-color: rgb(65, 255, 166);
            outline:  5px solid white;
            z-index: 2;
        }
        p{
            font-size: 19px;
            color: rgb(160, 160, 160);
            padding: 5px 12px;
            background-color: rgb(65, 255, 166);
            border-radius: 14px;
        }
    }

    .btn_iniciar_sesion:hover{
        cursor: pointer;
        .icon,p{
            color: black;
            background: rgb(15,36,0);
            background: linear-gradient(90deg, rgba(15,36,0,1) 0%, rgba(65,255,166,1) 0%, rgba(255,230,213,1) 100%);
        }
        
    }
    
    .logger_register{
        background-color: white;
        border-radius: 18px;
        bordeR: 1px solid rgb(191, 255, 191);
        width: 300px;
        padding: 15px 0;
        display: none;
        .menu_cerrar_sesion{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }

    .logger_register.show{
        display: flex;
        justify-content: center;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 650px){
    .divlogimp_container{

        .usuario{
    
            .cerrar_menu_iniciado{
                color: rgb(255, 255, 255);
                padding:  1px 4px;
                font-size: 13px;
                border: none;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(65, 255, 166, .7);
                z-index: 2;
            }
    
            .usuario_welcome{
                border: none;
                font-size: 12px;
                padding: 0 2px;
            }
            strong{
                font-size: 12px;
            }
    
        }
        .btn_iniciar_sesion{    
    
            .icon{
                padding: 4px;
                font-size: 18px;
                outline:  3px solid white;
                z-index: 2;
            }
            p{
                font-size: 12px;
                padding: 3px 6px;
                margin: 0;
                border-radius: 8px;
            }
        }
    
    
        .logger_register.show{
           width: 80%;
        }
    }

}
