.divlogimp_container{
    width: 100%;
    
    .logger_register{
        background-color: rgb(241, 255, 218);
        width: 100%;
        position: absolute;
        top: 86px;
        right: -100%;
        transition: all .5s ease; 
        display: none;
    }

    .logger_register.show{
        display: block;
        right: 0;
        transition: all .5s ease; 
    }
}

@media screen and (max-width: 750px){
    .divlogimp_container{
    
        .logger_register{
            background-color: white;
            width: 100%;
            padding: 10px 0;
            position: absolute;
            top: 33px;
            left: -200%;
            transition: all .5s ease; 
        }
    
        .logger_register.show{
            display: flex;
            justify-content: center;
            left: 0;
            transition: all .5s ease; 
        }
    }

}
