.divlogimp_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn_menu{
        display: none;
    }

    .flex_buttons{
        display: flex;
        flex-direction: column;

        .categorias_ge{
            display: none;
        }

        .flex_btns_real{
            display: flex;
            
        }

        .btn_iniciar_sesion{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: white;
            width: 100px;
            text-decoration: none;
            .letra2{
                color: black;
            }
    
            .icon{
                color:black;
                padding: 7px 0;
                font-size: 28px;
                border-radius: 50%;
                z-index: 2;
            }
            
            p{
                font-size: 17px;
                margin: 0;
            }
        }
    }
    .btn_iniciar_sesion:hover{
        .icon{
            color:#74D451;
        }
        
    }
}

@media screen and (max-width: 600px){
    .divlogimp_container{
        .btn_menu{
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 52px;
            height: 56px;
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: white;
        }

        .flex_buttons{
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            top: 56px;
            left: -100%;
            transition: all .6s ease-in-out;
            padding-bottom: 5px;

            .flex_btns_real{
                display: flex;
                justify-content: center;
            }

            .categorias_ge{
                display: block;
                width: 100%;
                text-align: center;

                .categorias_container{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .btn_iniciar_sesion{    
            
            
                .icon{
                    padding: 4px;
                    font-size: 22px;
                    outline:  3px solid white;
                    z-index: 2;
                }
                .letra2{
                    font-size: 12px;
                }
            }
        }

        .flex_buttons.show{
            background-color: rgba(255, 255, 255, 1);
            left: 50%;
            transform: translate(-50%);
            padding-bottom: 5px;
        }


    }

}
